{% extends 'taller/base.html' %}
{% block content %}
<div id="containerDetallePropuesta" class="container">
	<div class="row">
		<div class="col text-center">
			<h2>Efectúa tu voto<br><small>Solo podras votar una vez por propuesta</small></h2>
		</div>
	</div>	
	
	<div class="row">
		<div class="col text-center">
			<h3>Nombre Propuesta: <br>{{propuestaD.PropuestaAprobadaNombre}}</h3>
			<h3>descripción: <br>{{ propuestaD.PropuestaAprobadaDetalle}}</h3>
		</div>		
	</div>	

	<div class="row">
		<div class="col text-center">
			<a href="/propuvoto/{{propuestaD.IdPropuestaAprobada}}" class="btn btn-success" role="button" >Si</a>
			<a id="linkVolver" href="/propunovoto/{{propuestaD.IdPropuestaAprobada}}" class="btn btn-warning" role="button">No</a>
		</div>		
	</div>	

	

	<div class="row">
		<div class="col text-center">
			<a href="{% url 'cargarPropuestas' %}" class="btn btn-info" role="button">Volver</a>
		</div>		
	</div>
</div>
{% endblock %}